version: "3.9"

services:

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ldtroya04
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    restart: always

  web:
    image: nginx:alpine
    volumes:
      - ./web:/usr/share/nginx/html
    ports:
      - "8080:80"
    depends_on:
      - api

  api:
    build: ./api
    ports:
      - "5000:5000"
    depends_on:
      - db

